/* NAVBAR */
/* Add a dark background color with a little bit see-through */ 
.navbar {
  margin-bottom: 0;
  background-color: black;
  border: 0;
  font-size: 18px !important;
  letter-spacing: 0.5px;
  border-radius: 0px;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

/* Add a green color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: #0aa200 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
  color: rgba(0,0,0,1) !important;
  background-color: rgba(255,255,255,0.8) !important;
}

/* The active link */
.navbar-nav li.active a {
  color: rgba(0,0,0,1) !important;
  background-color: rgba(255,255,255,0.8) !important;
}

.btn-margin-left {
    margin-left: 2px;
}
.btn-margin-right {
    margin-right: 2px;
}
/* BODY */
body {
  font-family: Verdana,sans-serif;
  font-size: 15px;
  margin: 0;
}

.container {
  width: 100%;
  padding: 60px 120px 80px 120px;
}

/* Tabs */
.nav-tabs li a {
    color: #777;
}

.tab-pane {
  color: #777;
}

#contact {
  background-color: #000000;
  color: #FFFFFF;
  font-size: 18px;
}

/* SLIDESHOW */
.carousel-inner img {
  max-width: 1000px;
  max-height: 565px;
  position: relative;
  margin: auto;
}

.carousel-caption h3 {
  color: #020202;
  background-color: rgba(255,255,255,0.8);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 22px;
  width: 100%;
  text-align: center;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

/* FOOTER */
footer {
    width: 100%
    background-color: #F7F7F7 !important;
    color: #000000;
    padding: 32px;
}

footer a {
    color: #000000;
}

footer a:hover {
    color: #0aa200;
    text-decoration: none;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}